.photocss{
    object-fit: cover;
    padding-top:10%;
    height:100%;
}

.photodivbox{
    border:solid 1px black;
    background-image: linear-gradient(rgb(255, 255, 255, 0.712),rgba(100, 100, 100, 0.068));
}

.namecontainer{
    width:100%;
    text-align: center;
    padding-top: 7%;
    margin-bottom: 0%;
    padding-bottom:5%;
    background-color: rgba(219, 218, 218, 0.616);
   
    font-weight: bold;
}

.deletef{
    color:red;
    width:100%;
    padding-bottom: 5%;
    text-align: center;
    border-top:1px solid black !important;
}

.namecontainer2{
    color:rgb(122, 18, 18);
}

.resizeimg2{
    height:30vh !important;
}